<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title=#{mandje})"></head>
<body>
<div class="navbar">
    <nav th:replace="fragments::menu"></nav>
</div>

<h1>Mandje <img th:src="@{/images/mandje.png}" alt="mandje" /> </h1>

<table th:if="${mandje}">
    <thead>
    <tr>
        <th>Datum</a></th>
        <th>Titel</a></th>
        <th>Uitvoerders</a></th>
        <th>Prijs</a></th>
        <th>Plaatsen</a></th>
        <th><input type="submit" value="Verwijderen"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservering:${reserveringenMandje}" th:object="${reservering}">
        <td th:text="*{datum}"></td>
        <td th:text="*{titel}"></td>
        <td th:text="*{uitvoerders}"></td>
        <td th:text="*{prijs}"></td>
        <td th:text="*{aantalPlaatsen}"></td>
        <td> <input type="checkbox"> </td>

    </tr>
    </tbody>
</table>

<h3 th:text="|Te betalen: € ${totalePrijs}|"></h3>


</body>
</html>